<section class="about-section container">
  <h2 class="title">ABOUT US</h2>
 <div class="text-div">
      <p class="text-about">
        You can experience the American way of life up close at the "YOURS American
        Sports Bar" in Wiesbaden. The sports bar is located near Wilhelmstrasse,
        right on the market square, and is easy to reach - whether on foot, by bus,
        train or car.
      </p>
      <p class="text-about">
        We call it a bar, but strictly speaking, it is much more than just that. We
        cater for any party and thanks to our size, there is room for 10 to 200
        guests. Our spacious outdoor dining area also offers space for another 100
        guests.
      </p>
      <p class="text-about">
        In addition to the great selection of cocktails, the many types of beer, the
        large number of spirits and non-alcoholic drinks, we offer a fantastic range
        of American dishes - from homemade hamburgers, spare ribs, chicken wings
        with fried potatoes and sour cream to muffins and donuts - we have something
        for every taste.
      </p>
      <p class="text-about">
        As a regional sports bar, we offer a lot more than food and drink than meets
        the eye when you enter the bar: Take a look at a number of famous sports
        legends that adorn the walls next to the many flat screens! All sports
        channels and events are shown here around the clock - this is how we make
        every sporting event an unforgettable group experience. We also regularly
        present international sporting events live and as everyone knows, a live
        sporting event is great fun!
      </p>
      <p class="text-about">
        Get your own impression of America - food, sports and music. Learn
        accent-free American for free from the person sitting next to you at your
        table! Thanks to our numerous American regulars, an international
        conversation becomes an experience
      </p>
      <p class="text-about">
        Our friendly, humorous and well-trained staff provide excellent service.
      </p>
 </div>
</section>
