<section class="contact container">
  <div>
    <h2 class="title">Contact</h2>

    <div class="wrap">
      <div>
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d243647.04535276447!2d-74.0060!3d40.7128!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x0!2z40.7128LCD74.0060Q!5e0!3m2!1sen!2sus!4v1617732320744!5m2!1sen!2sus"
          width="737"
          height="584"
          style="border: 0"
          allowfullscreen=""
          loading="lazy"
        >
        </iframe>
        <!-- <img class="img-contact" src="/img/location/location.png" alt="location"> -->
      </div>

      <div class="form">
        <form class="form-con" action="/submit-form" method="POST">
          <label class="two text-about" for="firstName"
            >Number of People
            <input class="one" type="text" id="text" name="text" required />
          </label>
          <label class="two text-about" for="lastName"
            >Date
            <input class="one" type="date" id="date" name="date" required />
          </label>
          <label class="two text-about" for="email"
            >Time
            <input class="one" type="time" id="time" name="time" required />
          </label>
          <label class="two text-about" for="password"
            >Name
            <input class="one" type="name" id="name" name="name" required />
          </label>
          <label class="two text-about" for="phone"
            >Email
            <input class="one" type="email" id="email" name="email" />
          </label>
          <label class="two text-about" for="phone"
            >Phone
            <input class="one" type="tel" id="tel name="tel" />
          </label>

          <button type="submit" class="form-btn hero-btn">Reservation</button>
        </form>
      </div>
    </div>
  </div>
</section>
