<section class="contact container">
  <div>
    <h2 class="title">Contact</h2>

    <div class="wrap">
        <div>
            <img class="img-contact" src="/img/location/location.png" alt="location">
        </div>
    
        <div class="form">
          <form class="form-con" action="/submit-form" method="POST">
            <label class="two text-about"  for="firstName">Number of People</label>
            <input class="one" type="text" id="number" name="number" required />
    
            <label class="two text-about" for="lastName">Date</label>
            <input class="one" type="text" id="date" name="date" required />
    
            <label class="two text-about" for="email">Time</label>
            <input class="one" type="email" id="time" name="time" required />
    
            <label class="two text-about" for="password">Name</label>
            <input class="one" type="password" id="name" name="name" required />
    
            <label class="two text-about" for="phone">Email</label>
            <input class="one" type="tel" id="email" name="email" />
    
            <label class="two text-about" for="phone">Phone</label>
            <input class="one" type="tel" id="phone" name="phone" />
    
            <button type="submit" class="form-btn hero-btn">Reservation</button>
          </form>
        </div>
    </div>
  </div>
</section>
