<section class="events-section container">
  <h2 class="title">Events</h2>
  <div class="events-one">
    <table>
      <thead>
        <tr>
          <div class="lot">
            <div class="calendar-icon del">
              <svg width="24" height="23">
                <use href="/public/icons.svg#icon-Calendar"></use>
              </svg>
              <p class="text-te">Data</p>
            </div>
            <div class="team-icon del">
              <svg width="24" height="23">
                <use href="/public/icons.svg#icon-team"></use>
              </svg>
              <p class="text-te">Team</p>
            </div>
          </div>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="td-td-text">Friday <br />20th of January 2024</td>
          <td class="td-td-text">
            Bundesliga: RB Leipzig - FC Bayern München 20:30!
          </td>
          <td><button class="td-button text-te" type="button">BOOK A TABLE</button></td>
        </tr>
        <tr>
          <td class="td-td-text">Friday <br />21th of January 2024</td>
          <td class="td-td-text">
            Bundesliga: 1. FC Union Berlin - TSG Hoffenheim 15:30!
          </td>
          <td><button class="td-button text-te" type="button">BOOK A TABLE</button></td>
        </tr>
        <tr>
          <td class="td-td-text">Friday <br />22th of January 2024</td>
          <td class="td-td-text">
            Bundesliga: Borussia Dortmund - FC Augsburg 15:30!
          </td>
          <td><button class="td-button text-te" type="button">BOOK A TABLE</button></td>
        </tr>
        <tr>
          <td class="td-td-text">Friday <br />23th of January 2024</td>
          <td class="td-td-text">
            Bundesliga: FC Schalke 04 - RB Leipzig 18:30!
          </td>
          <td><button class="td-button text-te" type="button">BOOK A TABLE</button></td>
        </tr>
        <tr>
          <td class="td-td-text">Friday <br />24th of January 2024</td>
          <td class="td-td-text">
            Bundesliga: 1. FSV Mainz 05 - Borussia Dortmund 18:30!
          </td>
          <td><button class="td-button text-te" type="button">BOOK A TABLE</button></td>
        </tr>
        <tr>
          <td class="td-td-text">Friday <br />25th of January 2024</td>
          <td class="td-td-text">
            Bundesliga: RB Leipzig - VfB Stuttgart 20:30!
          </td>
          <td><button class="td-button text-te" type="button">BOOK A TABLE</button></td>
        </tr>
        <tr>
          <td class="td-td-text">Friday <br />26th of January 2024</td>
          <td class="td-td-text">
            Bundesliga: 1. FSV Mainz 05 - VfL Bochum 1848 15:30!
          </td>
          <td><button class="td-button text-te" type="button">BOOK A TABLE</button></td>
        </tr>
        <tr>
          <td class="td-td-text">Friday <br />27th of January 2024</td>
          <td class="td-td-text">
            Bundesliga: 1. FSV Mainz 05 - VfL Bochum 1848 15:30!
          </td>
          <td><button class="td-button text-te" type="button">BOOK A TABLE</button></td>
        </tr>
      </tbody>
    </table>
  </div>
</section>
