<section class="events-section container">
  <h2 class="title">Events</h2>
  <table>
    <thead>
      <tr>
        <svg>
            <use></use>
        </svg><th>Date</th>
        <svg>
            <use></use>
        </svg><th>Team</th>
        <th>Order-Button</th>
      </tr>
    </thead>
    <tbody>

      <tr>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td></td>
      </tr>
    </tbody>
  </table>
</section>
