<section>
  <div class="container food-container">
    <div class="food-box">
      <h2 class="food-title">FOOD</h2>
      <ul class="food-list">
        <li class="food-list-item">
          <div>
            <h3 class="food-item-title">Starters</h3>
            <img
              class="hero-burger-menu"
              srcset="
                ./img/food-menu-img/starters-1x.webp  1x,
                ./img/food-menu-img/starters-@2x.webp 2x
              "
              src="./img/food-menu-img/starters-1x.webp"
              alt="Starters"
              width="412"
              height="412"
            />
          </div>
          <div>
            <ul class="food-list-price">
              <li class="food-price-item">
                <p>Sweet Potato Fries</p>
                <p>4,95</p>
              </li>
              <li class="food-price-item">
                <p>Chili Cheese Tots</p>
                <p>7,95</p>
              </li>
              <li class="food-price-item">
                <p>Beef Chili</p>
                <p>4,00</p>
              </li>
              <li class="food-price-item">
                <p>Nachos Grande</p>
                <p>8,00</p>
              </li>
              <li class="food-price-item">
                <p>Sweet Onion Rings</p>
                <p>8,00</p>
              </li>
            </ul>
          </div>
        </li>
        <li class="food-list-item">
          <div>
            <h3 class="food-item-title">sandwiches</h3>
            <img
              class="hero-burger-menu"
              srcset="
                ./img/food-menu-img/sandwiches-1x.webp  1x,
                ./img/food-menu-img/sandwiches-@2x.webp 2x
              "
              src="./img/food-menu-img/sandwiches-1x.webp"
              alt="sandwiches"
              width="412"
              height="412"
            />
          </div>
          <div>
            <ul class="food-list-price">
              <li class="food-price-item">
                <p>Buffallo Tender Wrap</p>
                <p>9,95</p>
              </li>
              <li class="food-price-item">
                <p>Philly Cheese Steak</p>
                <p>9,95</p>
              </li>
              <li class="food-price-item">
                <p>Turkey Pesto Wrap</p>
                <p>8,00</p>
              </li>
              <li class="food-price-item">
                <p>BLT</p>
                <p>9,00</p>
              </li>
              <li class="food-price-item">
                <p>Grilled Cheese</p>
                <p>7,50</p>
              </li>
            </ul>
          </div>
        </li>
        <li class="food-list-item">
          <div>
            <h3 class="food-item-title">mains</h3>
            <img
              class="hero-burger-menu"
              srcset="
                ./img/food-menu-img/mains-1x.webp  1x,
                ./img/food-menu-img/mains-@2x.webp 2x
              "
              src="./img/food-menu-img/mains-1x.webp"
              alt="mains"
              width="412"
              height="412"
            />
          </div>
          <div>
            <ul class="food-list-price">
              <li class="food-price-item">
                <p>Texas Chicken</p>
                <p>9,95</p>
              </li>
              <li class="food-price-item">
                <p>Grilled Salmon</p>
                <p>14,95</p>
              </li>
              <li class="food-price-item">
                <p>Grilled Pork</p>
                <p>13,00</p>
              </li>
              <li class="food-price-item">
                <p>Whiskey Baby Back Ribs</p>
                <p>11,00</p>
              </li>
            </ul>
          </div>
        </li>
        <li class="food-list-item">
          <div>
            <h3 class="food-item-title">burgers</h3>
            <img
              class="hero-burger-menu"
              srcset="
                ./img/food-menu-img/burgers-1x.webp  1x,
                ./img/food-menu-img/burgers-@2x.webp 2x
              "
              src="./img/food-menu-img/burgers-1x.webp"
              alt="Burgers"
              width="412"
              height="412"
            />
          </div>
          <div>
            <ul class="food-list-price">
              <li class="food-price-item">
                <p>Cheeseburger</p>
                <p>8,95</p>
              </li>
              <li class="food-price-item">
                <p>Abgus Beff Burger</p>
                <p>9,95</p>
              </li>
              <li class="food-price-item">
                <p>Mushroom Swiss Burger</p>
                <p>12,00</p>
              </li>
              <li class="food-price-item">
                <p>Hickory Burger</p>
                <p>10,00</p>
              </li>
            </ul>
          </div>
        </li>
      </ul>
    </div>
    <div>
      <h2 class="food-title">drinks</h2>
      <ul class="food-list">
        <li class="food-list-item">
          <div>
            <h3 class="food-item-title">wine</h3>
            <img
              class="hero-burger-menu"
              srcset="
                ./img/food-menu-img/wine-1x.webp  1x,
                ./img/food-menu-img/wine-@2x.webp 2x
              "
              src="./img/food-menu-img/wine-1x.webp"
              alt="Wine"
              width="412"
              height="412"
            />
          </div>
          <div>
            <ul class="food-list-price">
              <li class="food-price-item">
                <p>Sparkling Brut</p>
                <p>9,95</p>
              </li>
              <li class="food-price-item">
                <p>Viura Blanco</p>
                <p>9,95</p>
              </li>
              <li class="food-price-item">
                <p>Wine + Rose</p>
                <p>8,00</p>
              </li>
              <li class="food-price-item">
                <p>Pinot Noir</p>
                <p>9,00</p>
              </li>
            </ul>
          </div>
        </li>
        <li class="food-list-item">
          <div>
            <h3 class="food-item-title">beers</h3>
            <img
              class="hero-burger-menu"
              srcset="
                ./img/food-menu-img/beers-1x.webp  1x,
                ./img/food-menu-img/beers-@2x.webp 2x
              "
              src="./img/food-menu-img/beers-1x.webp"
              alt="beers"
              width="412"
              height="412"
            />
          </div>
          <div>
            <ul class="food-list-price">
              <li class="food-price-item">
                <p>The Game Pilsner</p>
                <p>6,95</p>
              </li>
              <li class="food-price-item">
                <p>Devils Backbone</p>
                <p>7,95</p>
              </li>
              <li class="food-price-item">
                <p>City State & Wards IPA</p>
                <p>4,00</p>
              </li>
              <li class="food-price-item">
                <p>Trapezium New</p>
                <p>8,00</p>
              </li>
              <li class="food-price-item">
                <p>Alewerks Tavern</p>
                <p>6,50</p>
              </li>
            </ul>
          </div>
        </li>
        <li class="food-list-item">
          <div>
            <h3 class="food-item-title">cider</h3>
            <img
              class="hero-burger-menu"
              srcset="
                ./img/food-menu-img/cider-1x.webp  1x,
                ./img/food-menu-img/cider-@2x.webp 2x
              "
              src="./img/food-menu-img/cider-1x.webp"
              alt="Cider"
              width="412"
              height="412"
            />
          </div>
          <div>
            <ul class="food-list-price">
              <li class="food-price-item">
                <p>Honey Cider</p>
                <p>7,95</p>
              </li>
              <li class="food-price-item">
                <p>Pear Cider</p>
                <p>6,95</p>
              </li>
              <li class="food-price-item">
                <p>Apple Cider</p>
                <p>8,00</p>
              </li>
              <li class="food-price-item">
                <p>Cherry Cider</p>
                <p>5,00</p>
              </li>
            </ul>
          </div>
        </li>
        <li class="food-list-item">
          <div>
            <h3 class="food-item-title">cockteils</h3>
            <img
              class="hero-burger-menu"
              srcset="
                ./img/food-menu-img/cocteils-1x.webp  1x,
                ./img/food-menu-img/cocteils-@2x.webp 2x
              "
              src="./img/food-menu-img/cocteils-1x.webp"
              alt="Cockteils"
              width="412"
              height="412"
            />
          </div>
          <div>
            <ul class="food-list-price">
              <li class="food-price-item">
                <p>Saturn</p>
                <p>9,95</p>
              </li>
              <li class="food-price-item">
                <p>Rum Runner</p>
                <p>14,95</p>
              </li>
              <li class="food-price-item">
                <p>Eastern Sour</p>
                <p>13,00</p>
              </li>
              <li class="food-price-item">
                <p>Zombie</p>
                <p>11,00</p>
              </li>
              <li class="food-price-item">
                <p>Navy Grog</p>
                <p>8,50</p>
              </li>
            </ul>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>
