<footer class="footer container">
  <div class="footer-box">
    <div><a class="header-logo-link" href="../index.html">Yours</a></div>
    <div class="footer-wraper">
      <div>
        <ul class="footer-list">
          <li class="footer-list-item">
            <a href="#">O</a>
            <div>
              <p>Wilhelmstr. 38, (Marktplatz)</p>
              <p>Wiesbaden</p>
            </div>
          </li>
          <li class="footer-list-item">
            <a href="#">L</a>
            <div>
              <p>Fon: +49 (611) 91 01 201</p>
              <p>Fax: +49 (611) 91 01 200</p>
            </div>
          </li>
          <li class="footer-list-item">
            <a href="#">X</a>
            <div>
              <p>Opening hours:</p>
              <p>Mon − Thu: 4 p.m. until midnight</p>
              <p>Fri: 4 p.m. until (open end)</p>
              <p>at − Sun: 10 a.m. until (open end)</p>
            </div>
          </li>
        </ul>
      </div>
      <div>
        <nav class="footer-nav">
          <ul class="footer-nav-list">
            <li class="footer-nav-item">
              <a class="footer-nav-link" href="#">About us</a>
            </li>
            <li class="footer-nav-item">
              <a class="footer-nav-link" href="./menu.html">Menus</a>
            </li>
            <li class="footer-nav-item">
              <a class="footer-nav-link" href="./special.html">SPECIALS</a>
            </li>
            <li class="footer-nav-item">
              <a class="footer-nav-link" href="#">Gallery</a>
            </li>
            <li class="footer-nav-item">
              <a class="footer-nav-link" href="#">Events</a>
            </li>
            <li class="footer-nav-item">
              <a class="footer-nav-link" href="#">Contact</a>
            </li>
          </ul>
        </nav>
        <div class="footer-soc-wraper">
          <p class="footer-soc-text">FOLLOW US</p>
          <ul class="footer-soc-list">
            <li class="footer-soc-list-item">IN</li>
            <li class="footer-soc-list-item">TG</li>
            <li class="footer-soc-list-item">FB</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <p class="footer-reserved">2024 © YOURS, All rights reserved</p>
</footer>
