<section>
  <div class="container hero-wrap">
    <div class="hero-text">
      <h1 class="hero-title">SPORTS BAR</h1>
      <h2 class="hero-list-title">OPENING HOURS</h2>
      <ul class="hero-list">
        <li class="hero-list-item">Mon − Thu: 4 p.m. until midnight</li>
        <li class="hero-list-item">Fri: 4 p.m. until (open end)</li>
        <li class="hero-list-item">Sat − Sun: 10 a.m. until (open end)</li>
      </ul>
      <button class="hero-btn" type="button">reservation</button>
    </div>
    <div class="soc-box">
      <ul class="hero-soc-list">
        <li class="hero-soc-list-item">IN</li>
        <li class="hero-soc-list-item">TG</li>
        <li class="hero-soc-list-item">FB</li>
      </ul>
    </div>
  </div>
</section>
