<section>
  <div class="container hero-menu-wraper">
    <div class="hero-menu-text-box">
      <h2 class="hero-menu-text-title">our menu</h2>
      <p class="hero-menu-text">
        Welcome to our sports bar! We offer you our unsurpassed dishes and
        drinks that will make even a soccer ball cry with joy!
      </p>
      <p class="hero-menu-text">
        Come to us and enjoy the taste of victory with us! Our food and drinks
        are a real feast of taste that makes every game even better!
      </p>
    </div>
    <div>
      <img
        class="hero-burger-menu"
        srcset="
          ./img/hero-menu-img/burgers-hero-1x.webp    1x,
          ./img/hero-menu-img/burgers-hero-@2x.webp2x
        "
        src="./img/hero-menu-img/burgers-hero-1x.webp"
        alt="Burger-black"
        width="520"
        height="484"
      />
    </div>
  </div>
</section>
