<section class="menus-section container">
  <h2 class="title">MENUS</h2>
  <div class="wrapp">
    <ul class="menus-list">
      <li class="menus-item">
        <img class="menus-img" src="/img/menus1.png" alt="burgers" />
        <p class="p-menus">Burgers</p>
      </li>
      <li class="menus-item">
        <img class="menus-img" src="/img/menus2.png" alt="salads" />
        <p class="p-menus">Salads</p>
      </li>
      <li class="menus-item">
        <img class="menus-img" src="/img/menus3.png" alt="fingerfood" />
        <p class="p-menus">Fingerfood</p>
      </li>
    </ul>
  </div>
</section>
