<section class="special-page container">
  <div class="sp-title-div">
    <h2 class="sp-title">Every day is a SPECIAL day Touchdown</h2>
  </div>
  <div class="sp-page wrap">
    <ul class="sp-list">
      <li class="sp-item">
        <img class="sp-img" src="/img/special/1.png" alt="food at day" />
        <h3 class="sp-subtitle">Monday</h3>
        <div class="sp-plus">
          <p class="sp-text">
            Yours Combo Day!<br />Weekly changing combo variations!
          </p>
          <span class="sp-span">22,45$</span>
        </div>
      </li>
      <li class="sp-item">
        <img class="sp-img" src="/img/special/2.png" alt="food at day" />
        <h3 class="sp-subtitle">Tuesday</h3>
        <div class="sp-plus">
          <p class="sp-text">
            Yours taco day!<br />Yours taco day! all you can eat
          </p>
          <span class="sp-span">20,00$</span>
        </div>
      </li>
      <li class="sp-item">
        <img class="sp-img" src="/img/special/3.png" alt="food at day" />
        <h3 class="sp-subtitle">Wednesday</h3>
        <div class="sp-plus">
          <p class="sp-text">Chicken wings day!<br />all you eat</p>
          <span class="sp-span">35,40$</span>
        </div>
      </li>
      <li class="sp-item">
        <img class="sp-img" src="/img/special/4.png" alt="food at day" />
        <h3 class="sp-subtitle">Thursday</h3>
        <div class="sp-plus">
          <p class="sp-text">Yours schnitzel day!<br />all you can Eat</p>
          <span class="sp-span">28,50$</span>
        </div>
      </li>
      <li class="sp-item">
        <img class="sp-img" src="/img/special/5.png" alt="food at day" />
        <h3 class="sp-subtitle">Friday</h3>
        <div class="sp-plus">
          <p class="sp-text">
            Happy friday! <br />all day long, all coctails for only
          </p>
          <span class="sp-span">26,70$</span>
        </div>
      </li>
      <li class="sp-item">
        <img class="sp-img" src="/img/special/6.png" alt="food at day" />
        <h3 class="sp-subtitle">Saturday</h3>
        <div class="sp-plus">
          <p class="sp-text">Breakfast<br />all you can eat</p>
          <span class="sp-span">39,40</span>
        </div>
        <div class="sp-plus">
          <p class="sp-text">All day, long all longdrinks</p>
          <span class="sp-span">55,60$</span>
        </div>
      </li>
    </ul>
  </div>
</section>
